body {
    background-color: #f3f3f3;
}

.account-header {
    background-color: #0073b1;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.account-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: -75px;
}

.account-content {
    margin-top: 100px;
}

.badge-item {
    margin: 5px 5px 0 0;
}

.project-card img {
    height: 200px;
    object-fit: cover;
}